.addMachine-container {
  padding: 30px 30px 0 30px;
}

.machine-image-container {
  align-items: center;
  width: 62vw;
}
.machine-inputs {
  max-width: 70vw;
  padding: 24px 24px 12px 24px;
  border-radius: 12px;
}

.machineImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.btn-con {
  width: calc(48vw+24px);
}
.title {
  width: calc(48vw + 48px);
}

.machine-upload1 {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  top: 21.5vh;
  left: 53vw;
}
