.addMachine-container {
  padding: 30px;
}

.machine-image-container {
  align-items: center;
}
.machine-inputs {
  max-width: 70vw;
  padding: 24px;
  border-radius: 12px;
}

.machineImage {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  position: relative;
  display: inline-block;
}
.machine-upload {
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  top: 21vh;
  left: 23.5vw;
}

.btn-con {
  padding: 14px;
  width: 64vw;
  align-items: center;
}
.title {
  width: 64vw;
  padding: 14px;
  align-items: start;
}
