.container {
}
.addMachine-container {
  padding: 30px;
}

.machine-image-container {
  align-items: center;
}
.machine-inputs {
  max-height: 55vh;
  overflow-y: scroll;
}

.machineImage {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  position: relative;
  display: inline-block;
}
.machine-upload {
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  top: 21vh;
  left: 23.5vw;
}
