.machines-container {
  width: 78.6vw+15px;
}
.search-bar {
  align-items: center;
}

.scrollable-machine-table {
  max-height: 60vw;
  width: 70.6vw+10px;
}

.all-m-t {
  background-color: red;
  max-height: 110%;
  overflow-y: scroll;
  scrollbar-width: none;
}
