.users-container {
  padding: 30px;
  overflow: auto;
}

.user-input-container {
  justify-content: space-between;
}

table {
  width: 100%;
}
th {
  padding: 8px 0;
  text-align: left;
}
th {
  color: red;
  font-weight: bold;
}

td {
  font-size: small;
  /* text-align: center; */
}
