.primary-bg {
  background-color: #00b7eb;
}
.secondary-bg {
  background-color: #f1f1f1;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}
.Lgreen-bg {
  background-color: #d0ffbf;
}
.Lred-bg {
  background-color: #fec9c2;
}
.Lyellow-bg {
  background-color: #fffdbf;
}
.Lblue-bg {
  background-color: #ccd2ff;
}
.Lorange-bg {
  background-color: rgb(248, 217, 160);
}

.white-txt {
  color: white;
}
.black-txt {
  color: black;
}
.red-txt {
  color: #fb4128ed;
}
.green-txt {
  color: #34c600;
}
.yellow-txt {
  color: #fff620;
}
.blue-txt {
  color: #4d61fd;
}
.orange-txt {
  color: rgb(255, 166, 0);
}

.primary-color {
  color: #00b7eb;
}

.green-stat {
  color: rgba(0, 255, 0, 1);
}

.red-stat {
  color: rgba(255, 0, 0, 1);
}

.blue-stat {
  color: #344bfd;
}
.yellow-stat {
  color: #faff00;
}
