.card-box {
  justify-content: space-between;
  max-height: 70vh;
  overflow-y: scroll;
  scrollbar-width: none;
  row-gap: 32px;
}
.sparepart-card {
  padding: 0 0 12px 0;
  border-radius: 12px;
  height: 210px;
}

.underline-dark {
  text-decoration: underline;
  color: white;
}
.underline-light {
  text-decoration: underline;
  color: black;
}
