.selectedMachine-container {
  padding: 0 30px 0 30px;
  height: 80vh;
  overflow-y: auto;
}

.sparepart-container {
  border-radius: 24px;
}

.sparepart-btn-box {
  position: relative;
}
.sparepart-add-btn {
  z-index: 10;
}
.addsparepart-btn {
  position: absolute;
  top: 100%;
  right: 80%;
  top: 50%;

  z-index: 1000;
}
