.table-container {
  margin: 0 auto;
  padding: 20px;
  width: 40vw;
  border-radius: 24px;
}

.statistics-table {
  border-collapse: collapse;
  width: 100%;
}

.statistics-table th,
.statistics-table td {
  padding: 8px;
  text-align: start;
}

.statistics-table th {
  font-weight: bold;
}

.statistics-table td {
  font-size: 16px;
}
