.input-container {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #878787;
  gap: 6px;
}
.input-field {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: inherit;
}
.required {
  color: red;
  margin-left: 4px;
}
