.filter-cont {
  position: absolute;
  top: 19%;
  left: 65%;
  padding: 24px;
  border-radius: 24px;
  background: linear-gradient(
    to top,
    rgba(109, 109, 109, 0.6),
    rgba(198, 198, 198, 0.2)
  );
  border: 1px solid black;
}
.btn-date {
  display: flex;
  width: 20vw;
  justify-content: center;
}
