.machine-card {
  width: 77 vw;
  height: 36vh;
  border-radius: 24px;
}

.machine-info {
  gap: 5px;
  padding: 24px;
}

.info-table {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
}

.info-row {
  display: contents;
}

.info-label {
  font-weight: bold;
}

.info-value {
  text-align: left;
}

.scrollable-description {
  max-height: 40px;
  overflow-y: scroll;
  border-radius: 4px;
}
